body {
  background-color: black;
  font-size: 22px;
  font-family: helvetica;
  color: seashell;
}
.header {
  display: flex;
  margin: auto;
  border-bottom: 1px solid seashell;
  justify-content: space-between;
}
.logo {
    margin: 10px 10px 9px 10px;
}
.nav {
  align-self: center;
}
.nav a {
  color: seashell;
  font-size: 22px;
  font-family: helvetica;
  margin: auto 10px;
}
